.title {
    text-align: center;
}
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box {
    width: 300px;
    height: 150px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 5px 20px -15px black;
    cursor: pointer;
}